<h2>Categorias</h2>
<hr>
<a href="/admin/categorias/add" style="text-decoration: none;">
    <button type="button" class="btn btn-success mt-2">Nova Categoria</button>
</a>
{{#each categorias}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{nome}}</h4>
            <small class="text-secondary">{{slug}}</small><br>
            <hr>
            <a href="/admin/categorias/edit/{{_id}}"><button class="btn btn-secondary mt-2">editar</button></a>
        </div>
    </div>
{{else}}
    <h4 class="mt-4">Nenhuma categoria cadastrada!</h4>
{{/each}} 