{{#if success_msg}}
        <div class="row">
            <div class="col-12">       
                <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Sucesso!</strong> {{success_msg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
            </div>
        </div>

{{/if}}

{{#if error_msg}}
<div class="alert alert-danger">{{error_msg}}</div>
<div class="alert alert-danger alert-dismissible fade show position-fixed" role="alert">
  <strong>Erro!</strong> {{error_msg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}