<div class="card">
  <h1 class="card-header">Blog do node js</h1>
  <div class="card-body">
    <h5 class="card-title">Tudo sobre node js</h5>
    <p class="card-text">Conheça curiosidades dessa incrível ferramenta!</p>
    <a href="#" class="btn btn-primary">crie uma conta</a>
  </div>
</div>
<hr>
{{>_postagens}}